---
import { SEO } from "astro-seo"

import "@style/tailwind.css"

import { seoConfig } from "@util/seoConfig"



export interface Props {
	title: string

	ogTitle?: string

	description?: string

	image?: {
		url: string
		alt: string
	}

	disableIndexing?: boolean
}

const {
	title,
	ogTitle,
	description,
	image,
	disableIndexing = false
} = Astro.props as Props

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />

		<!-- SEO. -->
		<SEO
			title={title}
			description={seoConfig.description || description}
			noindex={disableIndexing}
			nofollow={disableIndexing}
			openGraph={{
				basic: {
					title: ogTitle || title,
					type: "website",
					image: (image && image.url) ? image.url : seoConfig.image.url
				},
				image: {
					width: seoConfig.image.width,
					height: seoConfig.image.height,
					alt: (image && image.alt) ? image.alt : seoConfig.image.alt
				},
				optional: {
					siteName: seoConfig.siteName,
					description: seoConfig.description || description
				}
			}}
		/>

		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Astro description" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta name="msapplication-config" content="/browserconfig.xml" />
		<link rel="manifest" href="/manifest.webmanifest" />

	</head>
	<body class="min-h-screen flex flex-col w-full overflow-x-hidden">
		<main class="flex flex-1 flex-col h-[100%] w-full">
			<slot />
		</main>
		<script>

		</script>
	</body>
</html>
